{% extends '_partial/base.html' %}

{% block title %}
Events
{% endblock title %}


{% block content %}


<section class="engine"><a rel="external" href="{% url 'member:index' %}">First Love Leeds</a></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-after-navbar" id="header1-b" style="background-color: rgb(255, 255, 255);">

    
       <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-12">

                    <h1 class="mbr-section-title display-4 w3-text-black"><span id="data-count"></span> ACTIVITIES RECORDED</h1>
                    <h4 class="mbr-section-title w3-text-black">FILTER BY</h4>


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default w3-padding-left">
                            <div class="panel-heading" role="tab" id="heading1">
                                
                                <div class="row w3-grey">
                                    <div class="collapsed col-sm-6 w3-hover-text-white w3-padding" role="button" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" aria-controls="collapse1" href="#collapse1">DATE</div>  


                                    <div class="collapsed col-sm-6 w3-hover-text-white w3-padding" role="button" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" aria-controls="collapse2" href="#collapse2">EVENT</div>
                                </div>
                            </div>

                            <div class="panel-collapse collapse w3-padding w3-light-grey" role="tabpanel" aria-expanded="false" style="height: 0px;" id="collapse1" aria-labelledby="heading1">


                                <div class="row row-sm-offset">

                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="form1-g-date">Start Date<span class="form-asterisk">*</span></label>
                                            <input type="date" class="form-control" name="date" required="" data-form-field="date" id="form1-g-start_date" value="2016-01-01">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="form1-g-end_date">End Date<span class="form-asterisk">*</span></label>
                                            <input type="date" class="form-control" name="end_date" required="" data-form-field="date" id="form1-g-end_date" value="{% now 'Y-m-d' %}">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="form1-g-submit">Submit</label>
                                            <button type="submit" class="form-control w3-btn event_date" name="filter_date" id="btn-date">Filter</button>
                                        </div>
                                    </div>

                                </div>


                                </div>

                            <div class="panel-collapse collapse w3-padding w3-light-grey" role="tabpanel" aria-expanded="false" style="height: 0px;" id="collapse2" aria-labelledby="heading2">
                                <div class="panel-body" class="form-group">
                                    
                                    <label for="select"><strong>Choose from list: </strong></label>
                                    <select id="select" class="form-control event_types">
                                        <option value="ALL" id="all">ALL</option>

                                        {% for event in event_types %}
                                          <option value="{{ event }}" id="{{ event }}">{{ event }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br/><br/>

                    <table class="table table-striped" id="table-data">
                    	<thead>
		                    <tr>
								<th>Event</th>
								<th>Date</th>
								<th>Attendance</th>
							</tr>
						</thead>
                    <tbody></tbody>

                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}