{% extends '_partial/base.html' %}

{% block title %}
{{ event }} on {{ event.date }}
{% endblock title %}

{% block content %}

<section class="engine"><a rel="external" href="https://mobirise.com">free responsive web site generator software download</a></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-after-navbar" id="header1-b" style="background-color: rgb(255, 255, 255);">

    
       <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10">

                    <h1 class="mbr-section-title display-4 w3-text-black text-uppercase w3-center">{{ event }} on {{ event.date }}</h1>

                    <br>
                    <p class="w3-large w3-text-black"><strong>Venue: </strong>{{ event.venue }}</p>
                    <p class="w3-large w3-text-black"><strong>Room: </strong>{{ event.room }}</p>
                    <p class="w3-large w3-text-black"><strong>Attendance Count: </strong>{{ event.attendance_count }}</p>
                    <p class="w3-large w3-text-black"><strong>First Timers Count: </strong>{{ event.first_timers_count }}</p>
                    <p class="w3-large w3-text-black"><strong>Born Again Count: </strong>{{ event.born_again_count }}</p>


                </div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container article" id="header3-d" style="background-color: rgb(255, 255, 255); padding-top: 5px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
           <div class="col-xs-12">
              <h6 class="mbr-section-title display-6">Record last updated by <strong>{{ user }}</strong> on <strong>{{ event.last_modified }}</strong></h6>
          </div>
        </div>
    </div>
</section>

{% endblock content %}
