  {% load staticfiles %}

<section class="mbr-section article" id="msg-box3-c" style="background-color: rgb(242, 242, 242); padding-top: 40px; padding-bottom: 40px;">

    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                
                <div class="lead"><p>Mobirise h</p></div>
                
            </div>
        </div>
    </div>

</section>

  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
   
</body>

  <script src="{% static 'web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tether/tether.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'smooth-scroll/SmoothScroll.js' %}"></script>
  <script src="{% static 'viewportChecker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <script src="{% static 'theme/js/script.js' %}"></script>

</html>
