<section class="mbr-section mbr-section-hero mbr-section-full" id="header5-6" style="background-color: rgb(239, 239, 239);">

    

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10">

                    <h1 class="mbr-section-title display-1" style="color:black;">First Love Leeds</h1>
                    <p class="mbr-section-lead lead" style="color:grey;">Loving God, Loving others</p>
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="{% url 'logout' %}">LOGOUT</a></div>
                </div>
            </div>
        </div>
    </div>

    

</section>