{% extends '_partial/base.html' %} {% load first_love_custom %} {% block title %} Members {% endblock title %} {% block navbar %}
<li class="nav-item"><a class="nav-link link" href="{% url 'member:all_members' %}">MEMBERS</a></li>
<li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="{% url 'event:index' %}">EVENTS</a></li>
<li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="{% url 'member:shepherd_list' %}">SHEPHERDS</a></li>

<li class="nav-item nav-btn">
    <a class="nav-link btn btn-primary" href="{% url 'logout' %}">LOG OUT</a>
</li>
{% endblock navbar %} {% block content %} {% if close_members != "" %}
<section class="engine"><a rel="external" href="{% url 'member:index' %}">Welcome to {% user_info 'name' %} homepage</a></section>
<section class="mbr-section mbr-section-hero mbr-section-full mbr-after-navbar" id="header1-b" style="background-color: rgb(255, 255, 255);">


    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-sm-12 col-md-12">

                    <h3 class="display-4 w3-text-black text-uppercase">FIRST <span id="data-count">{{ near_count }}</span> MEMBER(S) LIVING AROUND {{ post_code }}</h3>


                    <div class="w3-card-4">
                        <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for members by name" id="myInput">
                    </div>

                    <br/><br/>

                    <p class="mbr-section-lead w3-small" style="color:grey;">* Click on names to see more information</p>

                    <section class="mbr-section mbr-background mbr-after-navbar" id="testimonials4-10" style="padding-top: 5px; padding-bottom: 5px;">

                        {% if close_members %}
                        <h3>From {{ close_members.0.1 }} </h3>
                        {% endif %}

                        <!-- Posts -->
                        <div class="w3-card-2 w3-margin">

                            <ul class="w3-ul w3-hoverable w3-white" id="list-data">
                                <!-- Members info goes here -->
                                {% for member in close_members %}
                                <li class="w3-padding-16 datalist">

                                    <span class="w3-large">
                            		<i class="fa fa-user w3-text-green" aria-hidden="true"  title="{{ member.attendance_status.status }}"></i>&nbsp;&nbsp;
                            	<a href="{% url 'member:member_info' member.0.lower %}">{{ member.0 }}</a></span><br>

                                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <span class="w3-text-grey">to {{ member.2 }} </span><br>

                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <span class="w3-text-grey">takes {{ member.3 }}</span><br>

                                    <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <span class="w3-text-grey">by {{ mode }} {{ member.4 }} km</span><br> {% endfor %}
                                </li>

                            </ul>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

</section>
{% else %}


<section class="mbr-section mbr-section-hero mbr-section-full" id="header5-6" style="background-color: rgb(253, 253, 253);">


    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-12">

                    <h1 class="mbr-section-title display-1" style="color:black;">Data could not be retrieved</h1>
                    <p class="mbr-section-lead lead w3-padding" style="color:grey;">Please go back to <a href="{% url 'member:all_members' %}">members list</a></p>

                </div>
            </div>
        </div>
    </div>


</section>

{% endif %} {% endblock content %}