{% extends '_partial/base.html' %}

{% block title %}
Welcome
{% endblock title %}

{% block navbar %}
      <li class="nav-item"><a class="nav-link link" href="#">HOME</a></li>
      <li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="{% url 'member:all_members' %}">MEMBERS</a></li><li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="{% url 'event:index' %}">EVENTS</a></li>
    <li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="{% url 'member:shepherd_list' %}">SHEPHERDS</a></li>

  <li class="nav-item nav-btn">
    <a class="nav-link btn btn-primary" href="{% url 'logout' %}">LOG OUT</a>
  </li>
{% endblock navbar %}

{% block content %}

{% include '_partial/welcome.html' %}

{% endblock content %}
