{% extends '_partial/base.html' %}

{% block title %}
{{ shepherd.get_full_name }} follow up members
{% endblock title %}

{% block content %}

<section class="mbr-section mbr-background mbr-after-navbar" id="testimonials4-10" style="padding-top: 120px; padding-bottom: 80px;">

    <!-- Posts -->
    <div class="w3-card-2 w3-margin">
      <div class="w3-container w3-padding w3-grey">
        <h4>{{ shepherd.get_full_name }} follow up members</h4>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">
        {% for member in members %}
          <li class="w3-padding-16">

            <span class="w3-large">
                <i class="fa fa-user
                {% if member.attendance_status.status.lower in "outreach, evangelism" %}
                    w3-text-red
                {% elif member.attendance_status.status.lower in "rare new member, rare old member" %}
                    w3-text-yellow
                {% elif member.attendance_status.status.lower in "first timer" %}
                    w3-text-orange
                {% elif member.attendance_status.status.lower in "relocated" %}
                    w3-text-grey
                {% else %}
                    w3-text-green
                {% endif %}" aria-hidden="true"  title="{{ member.attendance_status.status }}"></i>&nbsp;&nbsp;

              <a href="{% url 'member:member_info' member.name.lower %}">{{ member.name.title }}</a></span>
            {% if member.mobile_no|slugify != "" %}
                <br><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;
                <span class="w3-text-grey">{{ member.mobile_no }} </span><br>
            {% endif %}

        {% endfor %}
        </li>

      </ul>
    </div>
</section>



{% endblock content %}
