{% load staticfiles %}

{% include '_partial/header.html' %}

<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>
<p>Hi boss</p>

{% include '_partial/footer.html' %}

