{% for member in members %}
  <li class="w3-padding-16 datalist">

	<span class="w3-large">
		<i class="fa fa-user
		{% if member.attendance_status.status.lower in "outreach, evangelism" %} w3-text-red
		{% elif member.attendance_status.status.lower in "rare new member, rare old member" %} w3-text-yellow
		{% elif member.attendance_status.status.lower in "first timer" %} w3-text-orange
		{% elif member.attendance_status.status.lower in "relocated" %} w3-text-grey
		{% else %} w3-text-green
		{% endif %}" aria-hidden="true"  title="{{ member.attendance_status.status }}"></i>&nbsp;&nbsp;

	  <a href="{% url 'member:member_info' member.name.lower %}">{{ member.name.title }}</a></span>
	{% if member.mobile_no|slugify != "" %}
		<br><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;
		<span class="w3-text-grey">{{ member.mobile_no }} </span>
	{% endif %}
	{% if member.email|slugify != "" %}
		<br><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;&nbsp;
		<span class="w3-text-grey">{{ member.email }} </span><br>
	{% endif %}

{% endfor %}
</li>
